body{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}
.nav{
    background-color:whitesmoke;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-frist{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 230px;
    height: 100px;
    background-image: url(../image/9999.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-1{
    display: flex;
    align-items: center;
    /* width: 45vw; */
}
.nav--1 a{
    font-size:larger;
    color: black;
    font-family:'微软雅黑';
    font-weight: 700;
    background-color:whitesmoke;
    line-height: 100px;
    padding: 0 15px;
    display: inline-block;
    text-decoration: none;
}
.nav--1 a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav-2{
    padding: 5px;
    margin-right: 20px;
    height: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    line-height: 50px;
}
.nav-2:hover{
    background-color: rgb(217, 216, 216);
    cursor: pointer;
}
.nav-3{
    padding: 5px;
    margin-right: 15px;
    width: 150px;
    border-radius: 10px;
    background-color:orange;
    color: white;
    line-height: 50px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}
.nav-3:hover{
    background-color: rgb(247, 194, 96);
    cursor: pointer;
}
.nav-4{
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    background-color:rgb(216, 215, 215);
    color: black;
    line-height: 50px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}
.nav-4:hover{
    background-color:rgb(174, 174, 174);
    cursor: pointer;
}
.we{
    /* width: 45vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    width: 100vw;
}
.body{
    height: 500px;
    width:100%;
    background-image: url(../image/4444.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-1{
    width:75vw;
    margin-top: 30px;
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}
.body-2{
    width:75vw;
    font-size: larger;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;
}
.body-3{
    width: 60vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.body--1{
    width: 45vw;
    background-color:whitesmoke;
    border-radius: 5px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.xiala{
    border: 1px gray solid;
    border-radius: 10px;
    width: 8vw;
    background-color: whitesmoke;
    position: relative;
    height: 70px;
}
.xiala-btn{
    width: 8vw;
    height: 70px;
    line-height:70px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}
.none{
    display: none;
}
.xiala-1{
    width: 8vw;
    background-color: whitesmoke;
    border: 1px gray solid;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top:62px;
    right: -1px;
    margin: 0;
    z-index: 999;
}
.xiala-2{
    cursor: pointer;
    margin-left: 10px;
    display: flex;
}
input[type=radio]{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
[type=search]{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 30vw;
    height: 70px;
    margin-left: 20px;
    border: 0px;
    font-size: larger;
}
[type=search]:focus{
    outline: none;
}
.btn{
    width: 70px;
    height: 70px;
    background-image: url(../image/0000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    position: relative;
}
.mask1{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn .mask1:active{
    opacity: .1;
}
.sch{
    width: 100px;
    height: 80px;
    font-weight: 900;
    text-align: center;
    background-color: rgb(191, 191, 191);
    color:rgb(82, 81, 81);
    border-radius: 10px;
}
.sch:hover{
    cursor: pointer;
    background-color:whitesmoke;
    color: black; 
}
.body-4{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-4 span{
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.body--2{
    padding: 5px;
    height: 30px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 0, 0, 0.603);
    border-radius:55px;
    margin-left: 10px;
    opacity: 0.9;
}
.body--2 a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.body--2:hover{
    background-color: rgba(255, 0, 0, 0.769);
    opacity: 0.9;
}
.block{
    display: block;
}
.tab{
    background-color: whitesmoke;
    z-index: 1000;
}
.tab-1{
    display: block;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: whitesmoke;
}
.img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    font-family: '微软雅黑';
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    background-image: url(../image/7777.jpg);
    background-size: cover;
    border-radius: 20px;
    position: relative;
}
.img-1{
    margin-top: 10px;
    width: 30vw;
    display: flex;
    align-items:start;
}
.img-2{
    width: 15vw;
    height: 250px;
    background-image: url(../image/4444.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.biao{
    display: inline-block;
    width: 15vw;
    height: 250px;
    margin-bottom: 20px;
}
.biao div{
    margin-left: 10px;
}
.biao div a{
    display: block;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
}
.biao div a:hover{
    color: black;
}
.biao div:first-child{
    margin-bottom: 20px;
    font-size: 30px;
}
.biao div:last-child a{
    color: orange;
    font-size: larger;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}
.mask:hover{
    opacity: 0.3;
    cursor: pointer;
}
.tab-2{
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
}
.tab-4{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.tab-3{
    font-size:small;
    display: inline-block;
    color: orange;
    margin-right: 30px;
}
.tab-3 a{
    text-decoration: none;
    color: orange;
    display: block;
}
.conent{
    width: 100vw;
    height: 400px;
    margin-top: 20px;
    background: linear-gradient(to right bottom,pink,rgb(233, 233, 125));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
.conent-1{
    width: 100vw;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.newimg{
    width:300px;
    height: 250px;
    background-image: url(../image/5555.jpg);
    background-size: cover;
    border-radius: 20px;
    position: relative;
}
.ss1{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    background-image: url(../image/0000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ss2{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 55px;
    border-radius: 10px;
    background-image: url(../image/0000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ss3{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 100px;
    border-radius: 10px;
    background-image: url(../image/0000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ss4{
    width: 100%;
    height: 50px;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    /* background:linear-gradient(to top right,white,rgb(210, 209, 209)); */
}
.ss5{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 100%;
    background-image: url(../image/5555.jpg);
    background-size: cover;
    background-position: center;
}
.ss6{
    position: absolute;
    bottom: 5px;
    left: 70px;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    font-size: large;
    line-height: 40px;
}
.newmask{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.newmask:hover{
    cursor: pointer;
    opacity: 1;
}
.ad{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 500px;
    opacity: 1;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    transition: all .5s;
}
.ad-f{
    font-size: 35px;
    position: fixed;
    right: 30px;
    bottom: 480px;
    color: gray;
    z-index: 999;
    cursor: pointer;
}
.ad-f:hover{
    color: black;
}
.ad-1{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-image: url(../image/5555.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: auto; */
    margin-top: 20px;
}
.ad-2{
    width: 60%;
    color: rgb(45, 222, 45);
    font-size: smaller;
    text-align: center;
}
.ad-3{
    text-align: center;
    width: 85%;
    font-size: larger;
    font-weight: 700;
}
.ad-4{
    display: block;
    width: 75%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size:20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.ad-5{
    width: 85%;
    text-align: center;
}
.ad-6{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.ad--1{
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.ad--2{
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
}
.ad--3{
    display: inline-block;
    width: 50px;
    font-size:smaller;
    text-align: center;

}
::selection{
    background-color: antiquewhite;
    color: black;
}